@use '../helpers' as *;

.checkbox {
    display: inline-flex;
    align-items: center;
    column-gap: rem(10);
    color: var(--colour-white);

    @include laptop {
        column-gap: rem(6);
    }

    @include hover{
        color: var(--colour-yellow);

        .checkbox__input{
            border-color: var(--colour-yellow);
        }
    }

    &__input {
        --sizeInput: #{rem(28)};

        @include square(var(--sizeInput));
        @include flex-center;

        appearance: none;

        margin: 0;
        border: var(--border);
        border-radius: rem(4);
        background-color: var(--colour-dark-10);



        @include laptop {
            --sizeInput: #{rem(24)};
        }

        &:not(:checked) {
            &::after {
                @include hide;
            }
        }

        &::after {
            content: '✔';
            color: var(--colour-red);
            transition-duration: var(--transition-duration);
        }

       &:user-invalid{
        border-color: var(--colour-red);
       }
    }
}